@font-face {
    font-family: "BebasNeue-Regular";
    src: url("../font/BebasNeue-Regular.ttf");
}
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: BebasNeue-Regular;
}

.navbar {
    display: flex;
    flex-direction: row;
    height: 100px;
    width: 100%;
    background-color: black;
    color: white;
    position: fixed;
    justify-content: space-between;

    .logo {
        width: 150px;
        height: 100px;
    }
    .pesquisa {
        margin: 25px;
        height: 50%;
        width: 300px;
        border-radius: 10px;
        font-size: 20px;
    }
    span {
        display: block;
        font-size: 50px;
        color: white;
        margin: 30px;
    }
}